.list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.clearBtn {
    display: block;

    margin: 1.2em 1em .5em auto;
    padding: 0 2em;
    opacity: .9;
    -webkit-transform: scale(0.80);
            transform: scale(0.80);
    color: #ebebeb;
    text-align: center;
    border-radius: 2px;
    font-family: "Inter", sans-serif;
    font-size: .75em;
    background: #f44336;
}

.clearBtn:hover{
    opacity: 1;
}
