.input {
    color: #ebebeb;
    font-size: .8em;
    font-weight: 500;
    height: 3em;
    font-family: "Inter", sans-serif; 
    padding-left: .8em;
    opacity: .8;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(195, 195, 195, 0.3);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background 500ms;

}

.input::placeholder {
    color: #ebebeb;
    font-family: inherit;
    opacity: .7;
    font-weight: 300;

}

.input:focus{
    outline: none;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    opacity: 1;
    border-left: none;
    box-shadow: none;
}

.input:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

}
